<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OnlineShopDBConnectionString"
    connectionString="Data Source=.\\MSSQL2016;Initial Catalog=OnlineShop;Persist Security Info=True;User ID=sa;Password=123open"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>